:root {
  --clr-blue: #2f4bf1;
  --clr-black: #191d23;
  --clr-white: #fff;
  --clr-gray-1: #4b5768;
  --clr-gray-2: #999da3;
  --clr-gray-3: #d0d5dd;
  --clr-gray-4: #e4e7eb;
  --clr-gray-5: #ebeef2;
}
