@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

.form-group input,
.form-group select {
  padding: 1rem;
  border: 1px solid var(--clr-gray-3);
  border-radius: 5px;
  margin-top: 8px;
  outline: none;
}

.form-group input[type="checkbox"] {
  margin-top: 0 !important;
  width: 18px;
  height: 18px;
}

.form-group button {
  padding: 1rem;
  display: block;
  width: 100%;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.required {
  color: var(--clr-blue);
}

@media (width <= 768px) {
  .only-desktop {
    display: none !important;
  }
}

@media (width >= 768px) {
  .only-mobile {
    display: none !important;
  }
}

.top-sticky {
  position: sticky;
  top: 0;
}

.top-sticky-10vh {
  position: sticky;
  top: 10vh;
}

.grid-cols {
  display: grid;
  /* place-items: center; */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}
